@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600&display=swap");

/* Estilo general */
body {
  background-color: #f7f6f6;
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #aa671d;
  font-family: "Source Sans 3", sans-serif;
}


h1 {
  font-size: 24px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #aa671d;
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
}

/* utilidades */ 
.w-100{
  width: 100%;
}
.flex{
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}

/* Botones Sign In y Login */
.button-Login {
  background-color: white;
  color: #aa671d;
  font-family: "Source Sans 3", sans-serif;
  width: 117px;
  height: 36px;
  font-size: 16px;
  border-radius: 6%;
}

.button-Sign-In {
  background-color: #aa671d;
  color: white;
  font-family: "Source Sans 3", sans-serif;
  width: 117px;
  height: 36px;
  font-size: 16px;
  border-radius: 6%;
  cursor: pointer;
}

/* Main content */
main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.primera-seccion {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.img-belleza img {
  width: 40rem;
  border-radius: 5%;
}

.belleza-cambios h1,
h3 {
  font-weight: 600;
  color: #aa671d;
}
.belleza-cambios button {
  background-color: #aa671d;
  border-radius: 5%;
  color: white;
}

.compras {
  background-color: #aa671d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.nuestras-joyas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr;
  column-gap: 1rem;
  
}

.nuestras-joyas h2 {
  color: #aa671d;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.nuestras-joyas img {
  width: 300px;
  height: 200px;
  border-radius: 60%;
}

.joyas {
  justify-content: center;
}
.joyas img {
  width: 15rem;
}

.joyas h3 {
  color: #aa671d;
}

.colecciones {
  color: #aa671d;
}
.colecciones h1{
  text-align: center;
}

.acero-Blanco,
.acero-Dorado {
  color: #aa671d;
}

.acero-Blanco img,
.acero-Dorado img {
  width: 15rem;
}


.ver-nuevos {
  background-color: #aa671d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


/**contacto**/

section h2 {
  text-align: center;
}
.formulario {
  background-color: #c59f76;
  width: min( 30rem, 100% ); /**utilizar el valor mas pequeño**/
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;

}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #aa671d;
}

.contenedor-campos{

}

.campo{
  margin-bottom: 1rem;
  
}

.campo label {
  color: #f7f6f6;
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}

.input-text {
  width: 90%;
  border: none;
  padding: 1.5rem;
  border-radius: .5rem;

}

.contacto h2{
  color: #aa671d;
}

.boton {
  background-color: #aa671d;
  color: #f7f6f6;
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
  border: none;
}
/* Footer */
footer {
  color: #f7f6f6;
  background-color: #aa671d;
  text-align: center;
  padding: 10px;
}

/* Derechos reservados */
